/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 8rem 0;
  min-height: 600px;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-image: url('/img/cover.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.heroBanner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.heroBanner > * {
  position: relative;
  z-index: 2;
  color: white;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 4rem 2rem;
    min-height: 400px;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
